Package: io.github.northhopper.nermalzeppelinicon
Name: Nermal Zeppelin Icon
Version: Number
Architecture: iphoneos-arm
Description: Nermal icon for Zeppelin
Homepage: northhopper.github.io
Maintainer: NorthHopper
Author: NorthHopper
Section: Zeppelin Icons